.footer-act {
  color: $footer-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}
.social-network2 {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.social-name {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $animation;
  &:hover,
  &:focus {
    background-color: $main-color;
  }
}
.icon-twitter {
  display: inline-block;
  margin: 12px 12px;
  fill: $footer-color;
}
