.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity $animation;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  overflow: auto;
  background: $footer-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.js-speker-form {
  position: relative;
  padding: 40px;
}
.form-text {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}
.form-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $footer-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
  transition: fill $animation;
}
.close {
  display: block;
  margin: 9px 9px;
}
.form-close:hover {
  fill: $main-color;
}
.close {
  fill: inherit;
}
.form-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }
}
.form-field input {
  height: 40px;
  padding-left: 42px;
  margin-top: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.form-field textarea {
  min-height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.form-field label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
}
.form-button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-color: transparent;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $footer-color;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color $animation;
  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: $main-color;
  transform: translate(-25px, -40px);
  margin-bottom: 4px;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform $animation, color $animation;
}
.form-comment {
  position: absolute;
  width: 416px;
  height: 96px;
  left: 16px;
  top: 12px;
}
.form-icon {
  position: absolute;
  display: inline-block;
  margin-right: 11px;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill $animation;
  .form-input:focus ~ & {
    fill: $main-color;
  }
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form-policy {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 432px;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}
.checkbox:checked + .checkbox-icon {
  border-color: $main-color;
  background-image: url(../../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form-doc {
  margin-left: 8.38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form {
  color: $main-color;
  text-decoration: underline;
}
