.our-work-list {
  position: relative;
  width: 370px;
  & + & {
    margin-left: 30px;
  }
}
.our-work {
  margin-bottom: 50px;
  margin-top: 0;
}
.block {
  display: block;
}
.quality-second {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $footer-color;
  min-width: 370px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 80px 27px 80px;
}
