$title-color: #212121;
$text-color: #757575;
$font-logo: "Raleway", sans-serif;
$font-text: "Roboto", sans-serif;
$main-color: #2196f3;
$footer-color: #ffffff;
$footer-address: rgba(255, 255, 255, 0.6);
$footer-source: rgba(255, 255, 255, 0.4);
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
